---
import { PROJECT_NAME } from '../../constants';
import Head from '../../components/Head.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import ExtensionDetail from '../../components/ExtensionDetail.astro';
import { loadExtensions } from '../../utils/extensions';
import type { Extension } from '../../utils/extensions';

export async function getStaticPaths() {
	const extensions = loadExtensions();

	return extensions.map(extension => ({
		params: { name: extension.name },
		props: { extension }
	}));
}

const { extension } = Astro.props as { extension: Extension };
---

<!DOCTYPE html>
<html lang="en">
	<Head
		title={`${extension.name} - ${PROJECT_NAME}`}
		description={extension.description}
		preventFOUC={true}
	/>
	<body>
		<Header />
		<ExtensionDetail extension={extension} />
		<Footer />
	</body>
</html>
